<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.zhou.busi.mapper.ContactMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.zhou.busi.entity.Contact">
    <result column="id" property="id" />
        <result column="name" property="name" />
        <result column="mobile" property="mobile" />
        <result column="disabled" property="disabled" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id,
        name, mobile, disabled
    </sql>

</mapper>
